.two-side {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px
}

.two-side video {
    flex-basis: 45%;
    width: 45%;
}

.text-container {
    flex: 1;
}

@media screen and (max-width: 1024px) {
    .two-side {
        flex-direction: column;
    }

    .two-side video {
        flex-basis: 100%;
        width: 100%;
    }
}