* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif!important;
}

body, html {
	font-family: 'futura', 'helvetica', sans-serif;
	margin: 0;
    font-size: 16px;
    background-color: #80c1f3;
}

/*
ZAGLAVLJE I NAVIGACIJA
*/

header {
	display: block;
	width: 100%;
}

.banner { 
	background-image: url(../img/rac1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 230px;
}

nav {
	padding-left: 15%;
	padding-right: 15%;
	background-color:#268923;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
}

nav ul li {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav ul li a:hover {
	background-color: #3c9539;
}

nav ul li a.active {
	background-color: #1e6e1c;
}

/*
SADRŽAJ STRANICE
*/

main {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	padding: 40px;
	border-radius: 20px;
}

h1 {
	font-size: 24px;
	margin-bottom: 12px;
}

h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

h3 {
	font-size: 18px;
	margin-bottom: 8px;
}

/*
FOOTER
*/
footer {
	background-color: #268923;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

footer p {
	color: white;
	text-align: center;
}

footer .github-link {
	content: url("../img/github.png");
	width: 16px;
	height: 16px;
}

figure {
	width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #cccccc;
}

figure img {
    width: 100%;
}

figure figcaption {
    text-align: center;
    font-size: 12px;
    color: #757575;
    padding: 10px;
}  

hr {
	border: none;
	border-bottom: 1px dashed #268923;
	margin-top: 20px;
	margin-bottom: 20px;
    clear: both;
}

@media screen and (max-width: 1024px) {
	nav {
		padding-left: 0;
		padding-right: 0;
	}

	nav ul li a {
		padding: 12px 6px;
		font-size: 14px;
	}

	main {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 20px;
		border-radius: 10px;
	}

	footer {
		flex-direction: column;
	}
}